@media(max-width:991px ){
  .wrap_text{

    .text{

    }
    a{
      margin: 20px auto;

    }
  }
}
@media (max-width: 760px ){
  .slick-prev{
    display: none!important;
  }
  .slick-next{
    display: none!important;
  }
}