h1,h2,h4,h5,h6{
  font-weight: bold;
}
a:hover, header a:hover,
.navbar-nav li a.active,
.navbar-expand-lg .navbar-nav .dropdown-menu li a.active,
.navbar-expand-lg .navbar-nav .dropdown-item:hover,
.navbar-expand-lg .navbar-nav .dropdown-item.active,
.navbar-expand-lg .navbar-nav .dropdown.show > a,
.social_icon li a:hover, .social_single_team li a:hover,
.social_team a:hover, .blog_text a:hover,
.blog_meta a:hover, .blog_meta a:hover i,
.footer_menu li a:hover,
.footer_link a:hover,
.footer_social li a:hover,
.blog_title a:hover,
.blog_content_detail .blog_meta a:hover,
.blog_content_detail .blog_meta li a:hover i,
.blog_content_detail .blog_meta a:hover span,
.v_blue .social_icon li a:hover,
.v_blue_pro .blog_text a:hover,
.v_blue_pro .blog_meta a:hover,
.v_blue_pro .blog_meta a:hover i,
.v_dark .blog_text a:hover,
.v_dark .blog_meta a:hover,
.v_dark .blog_meta a:hover i,
.v_dark .social_icon li a:hover,
.v_dark .social_single_team li a:hover,
.breadcrumb li a:hover,
.widget_category li a:hover,
.widget_archive li a:hover,
.tags li a:hover,
.widget-post-content h6 a:hover,
.comment-reply:hover,
.v_blue_light .social_icon li a:hover,
.v_light_dark .social_single_team li a:hover,
.v_blue .social_single_team li a:hover,
.v_royal_blue .social_icon li a:hover,
.doc_list li a:hover,
.v_navy_blue .nav-item a:hover,
.v_navy_blue .nav-item a.active,
.footer_link_s2 li a:hover,
.roadmap_wrap .owl-nav i:hover,
.doc_dropdown .dropdown-menu li a:hover,
.vertical_social li a:hover,
.doc_lan li a:hover,
.doc_lan li a:hover span i,
.tab_nav_s2 li.nav-item a.active,
.tab_nav_s2 li.nav-item a:hover{
  //color: #dc74ac!important;
}
.navbar-brand {
  max-width: 230px;
  width: 100%;
  height: 61px;
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  img{

  }
  &:hover {

    img {

      &:first-child {

        display: block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  img {

    &:first-child {
      display: none;
    }
  }
}

.f_img_one {
  margin-bottom: 30px;

  img {
    max-width: 300px;
    width: 100%;
    object-fit: contain;

  }
}

.wrap_box {


}

.work_box {
  box-shadow: 0px 20px 60px 0px rgba(0, 11, 40, 0.06);
  padding: 50px 40px !important;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  display: flex;
  border-radius: 25px;
  background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 100%);

  &:hover {

    p {
      color: #fff !important;
    }

    h4 {
      color: #fff !important;
    }

    .work_icon {

      img {

        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  .work_icon {


    img {
      max-height: 40px;
      margin-bottom: 20px;
      max-width: 100%;
      width: 100%;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .work_inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;


    p {
      margin-bottom: 20px;
      color: #000 !important;
      font-size: 20px;

    }

    a {
      display: block;


    }

  }


}

.mb_20 {
  margin-bottom: 20px;
}

.title_projects {
  margin-bottom: 40px;
  color: #000;
}

@media (max-width: 575px) {
  .work_inner {
    margin: 0 auto;
  }
}

.wraper {
  width: 300px;
  height: 300px;
  box-shadow: 0px 20px 40px 0px rgba(255, 103, 203, 0.5);;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #ff67cb 0%, #ffcc67 100%, #ff67cb);


  .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    position: relative;
    color: #fff;

    sub {
      font-size: 30px;
      display: block;
      top: -35px;
    }

    .counter {
      font-size: 90px;
      display: inline;
    }

    .char {
      font-size: 26px;
      display: inline;
      position: relative;
      top: -20px;
    }

    p {
      display: block;
      color: #fff;
    }
  }
}

.payment_features_area {
  .container {

    .title {
      text-align: center;
      margin-bottom: 40px;

      h2 {
        color: #000;
      }
    }
  }
}

.wrap_text {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;

  .text {
    color: #000;
  }

  a {
    width: max-content;
  }
}


.nav-link {
  color: #fff;
}

.wrap {
  margin-top: 40px;

  .col-lg-6 {


    .footer_text {
      color: #fff;
      font-size: 10px;
    }
  }
}

.slid {
  .autor {
    margin-bottom: 20px;

    img {
      max-width: 150px;
      width: 100%;
      object-fit: contain;
      margin: 20px auto;

    }

    .description {
      text-align: center;
      font-size: 20px;
      color: #000;
    }
  }

  .text_comment {
    text-align: center;
    color: #000;
    font-size: 25px;
  }
}

.title_slider {
  color: #5957cd;

  &:after {
    width: 80px;
    height: 3px;
    background: #5957cd;
    display: block;
    content: '';
    margin: 15px auto;
  }
}

.slider {
  .container {
    h2 {
      text-align: center;
      margin-bottom: 40px;
      color: #000;
    }
  }
}

h4 {
  color: #000;
}

.footer_title {
  position: relative;
  font-size: 30px;
  padding-bottom: 15px;

  &:before {
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 80px;
    background: #fff;
    margin: 0 auto;
  }

}

.newsletter_form button {
  bottom: 5px;
}

.input-rounded {
  font-size: 15px;
  padding-right: 225px;
}

.mt-40 {
  margin-top: 40px;
}

footer {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: transparent;
    border-top: 2px dashed #fff;
    display: block;
  }
}

//Token_sales css
.token_banner {

  background: url("../img/TokenSales/banner_bg2.png"), #0a257c;

}

.container {
  .row {
    .col-lg-12 {
      h2 {
        padding-top: 100px;
        color: #fff;
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 20px;
      }

      p {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}

.items {

  .item {
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 40px 10px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #5957cd;
    -webkit-box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
    -moz-box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
    box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);

    .title_item {

    }

    .body_item {
      &:hover {

      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.support_item {

  padding: 40px 0px;
}

.wrap_support {
  img {
    border-radius: 25px;
    border: 1px solid #5957cd;
    -webkit-box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
    -moz-box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
    box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
  }
}

.seo_fact_area {
  background: url("../images/about_bg.png");
}

.title_fact {
  padding-bottom: 15px;

  &:after {
    content: '';
    width: 80px;
    height: 3px;
    display: block;
    background: #5957cd;
    margin: 15px auto;

  }
}

.wrap_service {
  //border-right: 1px dashed #5957cd;
  //border-left: 1px dashed #5957cd;
  border-top: 1px dashed #5957cd;

  h5 {
    padding: 15px;
  }

  ul {
    li {
      list-style-type: decimal-leading-zero;
      padding: 10px 15px;
      border: 1px dashed #5957cd;
      background: #fff;
      border-radius: 25px;
      margin-bottom: 10px;
    }
  }
}
.slider_section{
  background: #ebf1f7;
}
.wrap_sliders {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  padding: 50px;

  .slick-prev {
    position: absolute;
    z-index: 20;
    top: 50%;
    font-size: 0;
    width: 50px;
    height: 50px;
    background: url("../img/TokenSales/fast-forward.png") center no-repeat, linear-gradient(to right, #ff67cb 0%, #ffcc67 99%);
    transform: rotate(180deg);

  }

  .slick-next {
    position: absolute;
    z-index: 20;
    top: 50%;
    font-size: 0;
    width: 50px;
    height: 50px;
    left: 90%;
    background: url("../img/TokenSales/fast-forward.png") center no-repeat, linear-gradient(to right, #ff67cb 0%, #ffcc67 99%);

  }
}

.slid {


  .head_slid {

    max-width: 500px;
    margin: 20px auto;

    .autor {
      img {
        max-width: 70px;
      }
    }

    .autor_name {
      text-align: center;

      h5 {
        color: #000;
      }

      h6 {
        color: #7a7a7a;
      }
    }
  }

  .body_slid {
    max-width: 500px;
    margin: 0 auto;

    p {
      text-align: center;
    }
  }
}

.price_item {
  .title_item {
    width: 100%;
    background: #5957cd;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    .price_tages {
      h3 {
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      span {
        color: #fff;
        text-align: center;
      }

    }
  }
}

.sec_title {

  h2 {

    &:after {
      content: '';
      width: 80px;
      height: 3px;
      display: block;
      margin: 15px auto;
      background-color: #5957cd;

    }
  }
}

.price_item {
  margin: 20px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  min-height: 501px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #5957cd;
  -webkit-box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
  -moz-box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);
  box-shadow: 6px 0px 25px 1px rgba(89, 87, 205, 0.35);

  position: relative;

  .body_item {
    padding-bottom: 20px;
    display: flex;
    flex-flow: column;

  }

  h5 {
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 25px;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  ul {
    margin-top: 15px;
    margin-bottom: 30px;

    width: 100%;

    li {
      padding: 15px;
      list-style: none;
    }
  }

  .dashed_row {
    width: 95%;
    height: 1px;
    border-top: 1px dashed #5957cd;
    margin: 20px auto;
    position: absolute;
    top: 75%;
  }

  a {
    margin-top: 15px;
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.wrap_callback {

  .col-lg-12 {

    h2 {
      font-size: 25px;

      &:after {
        content: '';
        width: 80px;
        height: 3px;
        display: block;
        margin: 20px auto;
        background-color: #fff;
      }

    }
  }
}


.section_callback {
  padding: 50px 0 !important;
}

.footer_logo {
  a {
    display: flex;
    flex-flow: column;
    margin: 20px auto;
    height: 24px;

  }
}

//
//Airdrops//
.col-lg-12 {
  .saas_banner_content {
    .w_color {
      color: #000 !important;
    }
  }
}
.sec_airdrops{
  padding-bottom: 50px!important;
  position: relative;
  overflow: hidden;
  padding-top: 150px;
}
.saas_banner_area {
  background: url("../img/Airdrops/banner_bg1.png"), #5957cd;
  border-radius: 0 0 250px;

  .action_btn {
    margin-bottom: 20px;
  }

  h2 {
    color: #fff;
    font-size: 40px;
  }

  p {
    color: #fff;

    a {
      color: rgba(21, 165, 237, 1);
      margin-left: 10px;
      font-weight: 600;

      &:hover {
        color: #fff;
      }
    }
  }
}

@keyframes parachute {
  0% {
    //transform: translate(0);
    //left: 50%;
    transform: rotate(0deg);
    transition: 0.1s;
    top: -18%;

  }
  25%{
    transform: rotate(3deg);
    top: -10%;
  }
  50%{
    transform: rotate(0deg);
    transition: 0.1s;
    top: -5%;
  }
  75%{
    transform: rotate(-3deg);
    transition: 0.1s;
    top: -15%;
  }
  100%{
    transform: rotate(0deg);
    transition: 0.1s;
    top: -18%;
  }

}
.mt-30{
  margin-top: 30px;
}
.keyframes_parashute{
  .cloudcontent{

    .col-lg-12{
      .saas_banner_content{

        p{
          //margin-top: 0px;
          margin-bottom: 0px;
          color: #000;
        }

      }
    }
  }
  position: relative;

}
.cloudcontent {
  width: 100%;
  img{
    width: 150px;
    display: block;
    &:first-child{

      transform-origin: top;
      position: absolute;
      width: 500px;
    }
    &:nth-child(2){
      animation: parachute 6s infinite;
      transform-origin: top;
      position: absolute;
      width: 500px;
      z-index: -100;
      top: -18%;
      transform: rotate(0deg);
      left: -20%;
    }
    &:nth-child(3){
      animation: parachute 10s infinite;
      transform-origin: top;
      position: absolute;
      width: 500px;
      z-index: -100;
      top: -18%;
      transform: rotate(0deg);
      left: 80%;
      //filter: hue-rotate(45deg);
    }
    &:nth-child(4){
      animation: parachute 12s infinite;
      transform-origin: top;
      position: absolute;
      width: 150px;
      z-index: -100;
      top: -18%;
      transform: rotate(0deg);
      left: 50%;
      //filter: sepia(1);
    }
  }
}

@media (max-width: 1024px ) {
  .cloudcontent {
    padding: 0!important;
    img{
      &:nth-child(2){
        left: 26%;
      }
      &:nth-child(3){
        display: none;
      }
      &:nth-child(4){
        display: none;
      }
    }
  }
}

@keyframes cloud-left {
  0% {
    //transform: translate(20px,40px);
    //top: 0%;
    transform: rotate(3deg);

  }

  33% {
    //transform: translate(-40px, 80px) rotateZ(3deg);
    //top: 45%;
    //top: -5%;
    transform: rotate(-3deg);

  }

  66% {
    //transform: translate(00px, 20px) rotateZ(-3deg);
    top: -3%;
    transform: rotate(3deg);

  }

  100% {
    //transform: translate(20px,40px);
    //top: 100%;
    //top: -18%;
    transform: rotate(-3deg);

  }
}




.software_featured_area {
  background: url("../img/Airdrops/banner_bg1.png");
}

.dashboard_animate {
  width: 100%;
  height: 600px;
  position: relative;
}

.title_software_featured {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 40px;

}

.software_featured_item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 40px 20px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 3px 5px 5px 0px rgba(204, 204, 204, 0.5);
  box-shadow: 3px 5px 5px 0px rgba(204, 204, 204, 0.5);
  background: #ebf1f7;
  height: 100%;

  .item_text_software {
    h3 {
      display: block;
      font-size: 30px;
      margin: 30px 0px 25px;
      color: #000;
    }

    p {
      display: block;
      font-size: 20px;
    }
  }

  .icon_software_featured {
    max-width: 85px;
    width: 100%;
    margin: 0 auto;
    border-radius: 100%;
    display: inline-block;
    padding: 15px;
    position: relative;
    background-color: #5957cd;

    img {
      //filter: brightness(0);
      max-width: 55px;
      height: 55px;
      width: 100%;
      object-fit: contain;
    }
  }
}

.get_early {
  margin: 20px auto;
}

//
//Lend

.digital_banner_area {
  background: url("../img/lend/about_bg.png"), #000;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.digital_content {
  h2 {
    color: #fff;
  }
}

.btn_wrap {
  display: flex;
  flex-wrap: nowrap;

  button {
    display: block;
    margin-left: 10px;
  }
}

//modal
.show_modal {
  display: block !important;
}
.modal-dialog {
  max-width: 500px;
  margin: 10% auto;
}
.modal-body {
  padding: 1.5rem;
}

select#lend {
  width: 100%;
}

button.close {
  position: absolute;
  top: 5px;
  left: 93%;
  width: 24px;
  height: 24px;
  display: block;
  background: url("../img/lend/shapes-and-symbols.png") center no-repeat;
  object-fit: contain;
}

select, .text_box input[type="text"], .text_box textarea, .text_box input[type="password"], .text_box input[type="email"] {
  font-size: 1.7vh;
  color: #222d39;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
  box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
  text-align: center;
}

.modal-content {
  text-align: center;
}

.login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

//careers

.company_banner_area {
  background: linear-gradient(125deg, #5f51fb 0%, #ae59cb 64%, #fd609b 100%);
  position: relative;
  z-index: 1;

  .bg_banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }

}

.company_banner_content {
  margin-top: 50px;

  h2 {
    color: #fff;
    font-size: 50px;
    line-height: 66px;
    font-weight: 700;
  }
}

.software_featured_area_careers {

  .container {

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #000;
      font-size: 30px;
    }

    p {

      padding: 20px;
      box-sizing: border-box;
      color: #000;
      border-radius: 25px;
    }
  }
}

.rounded_border_icon {
  img {
    //filter: brightness(0);
    max-width: 55px;
    height: 55px;
    width: 100%;
    object-fit: contain;
  }
}

.software_careers_item {
  display: flex;
  flex-flow: column;

  .s-icon {
    position: relative;

    img {
      &:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -22px;
        width: 55px;
        height: 55px;

      }
    }
  }

  h3 {
    text-align: center;
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }
}

.box_wrap {
  display: flex;
  flex-flow: column;
  min-height: 381px;
  margin-bottom: 20px;

  .rounded_border_icon {
    max-width: 85px;
    width: 100%;
    margin: 0 auto;
  }
}

//experts_team_area

.section_title {
  h2 {
    color: #000;

  }

  p {
    color: #000;
  }
}

//experts_team_area

.img_item {
  background: transparent;
  border-radius: 50%;
}

.res_sm_mb_20 {
  margin-bottom: 20px;
}

.title_partner {
  margin-bottom: 40px;

  h2 {
    color: #000;
  }
}

.logo_partner_item {
  border-right: 1px solid #ccc;
  max-width: 250px;
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  &:hover {
    img {
      -webkit-filter: contrast(100%);
      filter: contrast(100%);
    }
  }

  img {
    width: auto;
    object-fit: contain;
    filter: contrast(0.3%);
  }
}


.tab-pane {
  h3 {
    color: #000;
  }

  p {
    color: #000 !important;
  }
}

.card-body {
  background: #ebf1f7;
  padding: 20px;
  border-radius: 25px;
  margin-top: 15px;

  ul {
    li {
      color: #000;
      list-style: none;
      border: 1px dashed #fff;
      border-radius: 25px;
      padding: 15px;
      margin-bottom: 10px;
    }
  }

  &:before {
    content: '';
    display: none;
  }
}

.action_area_three {
  background: linear-gradient(0deg, #5e2ced 0%, #6c3cf4 100%);
  position: relative;

  .curved {
    position: absolute;
    top: 0;
    background: url("../img/careers/action_shap.png") no-repeat;
    height: 100px;
    width: 100%;
    left: 0;
    background-size: contain;
  }
}

.col-lg-12 {
  .action_content {
    .action_title {
      font-size: 30px !important;
      line-height: 45px;
    }
  }
}

.mt_30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

//applay
.new_startup_banner {
  background: #5957cd;
}

#app_body {
  #content {

    ul {

      li {
        color: #fff;
        list-style: decimal;
      }
    }
    h6{
      color: #fff;
    }
  }


}

.app-title {
  color: #fff;
}

.app_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 50px;
  flex-wrap: wrap;

  .location {
    color: #fff;
  }

  span {
    color: #fff;
  }

  .app_link {
    color: #15a5ed;
  }
}

.login_info {

  form {

  }
}

.w_color {
  color: #fff;
}

.link_form {
  transition: all 0.2s linear;
}

.card-header {
  h5 {
    button {
      font-size: 1rem;
    }
  }
}

@media(max-width: 768px) {

  .card-header {
    h5 {
      button {
        font-size: 7px;
      }
    }
  }
}

#description_form {
  color: #000;
}


.breadcrumb_area {
  background: url("../img/login_register/video_img2.jpg");
  padding: 235px 0px 125px;
  background-size: contain;
}

.link_privacy {
  font-size: 12px;
}

.faq_tab {
  margin-bottom: 20px;

  ul {
    display: flex;
    flex-flow: column;
  }
}


#about {
  background: rgb(49, 75, 211);
}

.wrap_box_monet {
  justify-content: center;
}

.item_monet {
  text-align: center;
  min-height: 716px;

  h4 {
    color: #fff;
  }

  p {
    color: #fff;
  }

  img {
    max-width: 150px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    height: 140px;
  }
}
.section_video{
  h2{
    color: #000;
    &:after{
      content: '';
      width: 80px;
      height: 3px;
      display: block;
      background: #000;
      margin: 20px auto;
    }
  }
  .video-center{
    max-width: 700px;
    max-height: 470px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      border: 12px solid rgba(25,61,192,1);
      border-radius: 6px;
    }

  }
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sec_aplication {
  background: #fff;

  h4 {
    color: #000;

    &:before {
      background-color: #000 !important;;
    }
  }

  p {
    color: #000;
  }
}

.get_started_area {

  h2 {
    color: #000;

    &:after {
      content: '';
      width: 80px;
      height: 3px;
      background: #000;
      display: block;
      margin: 20px auto;
    }
  }
}

.section_banner_zeon {
  background:url("../img/zeon/343120-PAKXSK-994.png") right no-repeat, linear-gradient(270deg, rgba(25, 61, 192, 1) 0%, rgba(10, 29, 149, 1) 50%, rgba(25, 61, 192, 1) 100%);
  background-size: contain;
  padding: 250px 100px;
}


.section_credit_lines {
  background: #f9f9fc;

  h2 {
    color: #fff;
    margin-bottom: 20px;

    &:after {
      content: '';
      width: 80px;
      height: 3px;
      display: block;
      background: #fff;
      margin: 20px auto;
    }
  }

  p {
    color: #fff;
  }
}

.wallet_todo {
  li {
    list-style: none;
    text-align: left;
  }
}

.section_wallet_features{
  background: rgb(8,103,206);
  h2{
    color: #fff;

    &:after{
      content: '';
      width: 80px;
      height: 3px;
      background: #fff;
      display: block;
      margin: 20px auto;
    }
  }
  .text_wallet{
    color: #fff;
  }
}

@media(max-width: 768px){
  .item_pack{

    &:before{
      display: none;
    }
  }
}

.line{
  width: 100%;
  background: #fff;
  height: 3px;
  margin: 20px auto;
}
.item_pack {
  padding: 2rem;
  margin-bottom: 20px;
  //background: linear-gradient(40deg, #290a59 0%, #3d57f4 100%);
  border-radius: 5px;
  position: relative;
  img{
    max-width: 150px;
  }

  h6{
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
  }
  p{
    font-size: 15px;
  }
}

.section_credit_lines{
  background: rgb(21,28,209);
}



.ripple_effect_left_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.ripple_effect_right_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.ripple_effect_right_top .circle_bg1 {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  right: -350px;
  top: -350px;
  left: auto;
  bottom: auto;
}
.circle_bg1 {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  left: -350px;
  bottom: -350px;
}
.circle_bg1 span{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation-name:ripple;
  -moz-animation-name:ripple;
  -o-animation-name:ripple;
  animation-name:ripple;
  -webkit-animation-duration:4s;
  -moz-animation-duration:4s;
  -o-animation-duration:4s;
  animation-duration:4s;
  -webkit-animation-delay:6s;
  -moz-animation-delay:6s;
  -o-animation-delay:6s;
  animation-delay:6s;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  -o-animation-timing-function:linear;
  animation-timing-function:linear;
  border:1px solid rgba(255,255,255,0.2);
}
.circle_bg1 span:nth-child(2) {
  -webkit-animation-delay:5s;
  -moz-animation-delay:5s;
  -o-animation-delay:5s;
  animation-delay:5s;
}
.circle_bg1 span:nth-child(3) {
  -webkit-animation-delay:4s;
  -moz-animation-delay:4s;
  -o-animation-delay:4s;
  animation-delay:4s;
}
.circle_bg1 span:nth-child(4) {
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
}
.circle_bg1 span:nth-child(5) {
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}
.circle_bg1 span:nth-child(6) {
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
}

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(0.1);transform:scale(.01); opacity:1;}
  50% {-webkit-transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {-webkit-transform:scale(1);transform:scale(1); opacity:0;}
}
@-moz-keyframes ripple {
  0% {-moz-transform:scale(0.1);transform:scale(.01); opacity:1;}
  50% {-moz-transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {-moz-transform:scale(1);transform:scale(1); opacity:0;}
}
@-o-keyframes ripple {
  0% {-o-transform:scale(0.1);transform:scale(.01); opacity:1;}
  50% {-o-transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {-o-transform:scale(1);transform:scale(1); opacity:0;}
}
@keyframes ripple{
  0% {transform:scale(0.1);transform:scale(0.1); opacity:1;}
  50% {transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {transform:scale(1);transform:scale(1); opacity:0;}
}

.circle_bg1 span::before {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: "";
  height: 15px;
  position: absolute;
  width: 15px;
}
.circle_bg1 span:first-child:before {
  right: 10px;
  top: 230px;
}
.circle_bg1 span:nth-child(2):before {
  right: 100px;
  top: 89px;
}
.circle_bg1 span:nth-child(3):before {
  right: 240px;
  top: 7px;
}
.circle_bg1 span:nth-child(4):before {
  right: 100px;
  top: 89px;
}
.ripple_effect_right_top .circle_bg1 span:first-child:before {
  left: 8px;
  bottom: 236px;
  top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(2):before {
  left: 100px;
  bottom: 89px;
  top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(3):before {
  left: 240px;
  bottom: 7px;
  top:auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(4):before {
  left: 100px;
  bottom: 89px;
  top: auto;
}
.circle_bg1.circle_bg_color1 span::before {
  background-color: #21d397;
}

.ripple_effect_right_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.particles-js-canvas-el{
  z-index: -1;
}

.sec_imp_banner{
  background: url("../img/coinimp/whitepaper_pattern.png") bottom no-repeat, #000;
  h2{
    color: #fff;
  }
  p{
    color: #fff;
  }

  img{

    cursor: pointer;

  }
}
.item_imp{
  .border{
    height: 3px;
    background: #5957cd;
    margin-bottom: 20px;
  }
  img{
    max-width: 200px;
    width: 100%;
  }

}

.sec_imp_banner{
  canvas{
    position: fixed;
  }
}


.account-info{
  ul{

    .hover-elem{
      color: #fff;
      position: relative;
      &:hover{
        ul{
          display: block;
        }
      }

      ul{
        position: absolute;
        display: none;
        li{

          a{
            color: #fff;
            &:hover{
              color: #ff69c9;
            }
          }
        }
      }
    }

  }
}
.navbar{
  .show{
    display: flex!important;
    flex-flow: column;
  }
  .account-info{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


.sec_satt{
  background: url("../img/satt/about_bg.png"), #0b0b0b;

  .title_satt{
    p{
      margin-top: 20px;
    }
    img{
    max-width: 200px;
      width: 100%;
    }
  }
}
.title_agency_testimonial{
  h4{
    margin-bottom: 40px;
  }
}
.saas_service_area{
  h4{
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 20px;
  }
  img{
    border: 5px solid #5957cd;
    border-radius: 25px;
  }
}

.head_slid{
  img{
    border-radius: 50%;
    margin: 20px auto;
  }
}

.wrap_item_saat{
  img{
    margin: 20px auto ;
  }
  h4{
    margin-bottom: 20px;
  }
  ul{
    padding: 10px 20px;
    box-sizing: border-box;

    li{
      list-style: none;
      &:nth-child(even){
        background: #dee2e6;
      }
    }

  }
}
