.admin_panel_wrap{
  padding: 0px!important;
}
.left-bar {
  max-width: 280px;
  width: 100%;
  background: #4241b8;
  padding: 20px 10px;
  height: 100%;
  position: fixed;
  justify-content: space-between;
  display: flex;
  flex-flow: column;

  .cabinet_nav {
    .logo_burger {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    a {
      display: block;
      width: 150px;

      img {
        width: 100%;
      }
    }
  }
}

.menu {

  li {
    list-style: none;
    color: #fff;


    span {
      color: #fff;
      display: block;
      padding: 10px 0px;
    }

    ul {
      padding: 5px;

      li {
        a {
          display: block;
          padding: 10px 0px;
          color: #fff;
        }
      }
    }
  }
}

.footer_menu {
  p {
    color: #fff;
    font-size: 12px;
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  a {
    color: #fff;
    font-size: 12px;
    padding-right: 6px;
  }
}

.disable {
  position: absolute;
  left: -100%;
}

@keyframes OutLeft {
  0% {
    left: 0;
  }
  100%{
    left: -100%;

  }
}

.show{
  animation: InLeft 0.2s ease-in;
  animation-fill-mode:forwards;
  transition: 0.1ms;
}
@keyframes InLeft {
  0% {
    left: -100%;
  }
  100%{
    left: 0;
  }
}

.btn_close{
  filter: invert(1);
  background:url("../img/security/shapes-and-symbols.svg")center no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  outline: none;
  border: none;
}
.btn_show{
  background: url("../img/security/bars.svg")center no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  position: fixed;
  left: 1%;
  top: 20px;
  z-index: 50;
  outline: none;
  border: none;
}

.right_bar{
  height: 100%;
  //width: calc(100% - 280px);
  margin-left: 280px;
  transition: 0.2s;
  position: absolute;
  right: 0;
  width: 100%;

}

.show-hide {
  width: 100%;
  margin-left: 0;
}

.account-info{
  padding: 20px 50px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
  border-bottom: 1px solid #f4f4f9;
  margin-bottom: 20px;

  ul{
    margin-bottom: 0px;
    li{
      position: relative;
      list-style: none;
      &:hover{

        ul{
          display: block;
        }
      }
      span{

      }
    }
    ul{
      display: none;
      position: absolute;
      z-index: 50;
      li{
        a{
          display: block;
        }
      }
    }
  }
}

.cart_total_box{
  box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
  padding: 50px;
  border-radius: 4px;
  .cart-header{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  h5{
    text-align: center;
    margin-bottom: 20px!important;
  }
  .media{
    .media-body{
      h3{
        font-size: 20px;
        color: #263b5e;
        font-weight: 500;
        margin-bottom: 15px;
      }
      p{
        font-size: 16px;
        line-height: 28px;
        color: #6a7695;
        margin-bottom: 0;

      }
    }

  }
}

.seo_features_content{
  a{
    color: #fff;
    margin: 20px auto;
    display: block;
  }
  p{
    font-size: 16px;
    color: #6a7695;
    font-weight: 300;
  }
  h3{
    font-size: 21px;
    color: #263b5e;
    font-weight: 500;
    margin-bottom: 15px;
  }



  form{
    label{
      font-size: 16px;
      color: #6a7695;
      font-weight: 300;

    }
    input{
      font-size: 16px;
      color: #6a7695;
      font-weight: 300;
    }
    button{
      color: #fff;
    }
  }
}
.btn-default{
  background-size: 200% auto;
  background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 51%,#ff67cb);
  background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 51%,#ff67cb);
  border: 0;
  outline: none;
  text-transform: uppercase;
  z-index: 2;
  transition: all 0.5s ease 0s;
  color: #fff;
  font-weight: 600;

  display: flex;
  align-items: center;
  min-height: 45px;
  &:hover{
    background-position: right center;
  }
}
.cart_total_box{
  width: 80%;
  margin: 0 auto;
  a{
    color: #fff;
    max-width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px ){
  .right_bar{
    margin-left: 0px;
    width: 100%!important;
  }
  .left-bar{
    z-index: 100;
  }
}

.form_basics{
  display: flex;
  flex-flow: column;
  .form-group{
    display: flex;
    flex-flow: column;
    label{

    }
  }
  button{
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 20px auto;
  }
  input{
    box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
    font-size: 15px;
    font-weight: 600;
    color: #222d39;
    height: 60px;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    border: 1px solid #fff;
    padding: 0px 10px;
  }
}

.cart_total{
  //padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
  padding: 50px;
  border-radius: 4px;
}

button.btn.btn-default{
  margin: 20px auto;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider.round {
  border-radius: 34px;
}
input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked+.slider {
  background-color: #3d64f4;
}
.media-body{
  margin-bottom: 20px;
}

@media(max-width: 425px){
  .seo_features_item{
    flex-flow: column;
    text-align: center;
  }
}
.c-breadcrumb{
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 15px;
}

.learn_btn_two {
  color: #051441;
  font-size: 15px;
  display: inline-block;
  margin-top: 7px;
  position: relative;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  margin-left: 10px;
}
select, .text_box input[type="text"], .text_box textarea, .text_box input[type="password"], .text_box input[type="email"] {
  font: 400 15px/60px "Poppins", sans-serif;
  color: #222d39;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
  box-shadow: 1px 3px 4px 0px rgba(12, 0, 46, 0.29);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
}
.select-file input[type="file"] {
  height: 25px;
  line-height: 20px;
  width: 100%;
}
.select-file {
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  height: 50px;
}
.dis-select-file {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  line-height: 50px;
}

.status-ul li {
  position: relative;
  line-height: 60px;
  &:last-child{
    &:after{
      content: '';
      display: none;
    }

  }
  &:before{

    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border: 2px solid #5e2ced;
    border-radius: 50%;
    left: -40px;
    top: calc(50% - 16px);
    background-color: #fff;
    z-index: 2;
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:after{
    content: "";
    position: absolute;
    left: -25px;
    height: 100%;
    width: 2px;
    background: #5e2ced;
    top: 15px;
  }
}
.status-ul li.icon.check:before {
  background-image: url("../img/security/check.svg");
}
.status-ul li.icon.wait:before {
  background-image: url("../img/security/wait.svg");
}
.btn-status{
  width: max-content;
  color: #fff;
  &:hover{
    color: #fff;
  }
}
.text-green {
  color: #49c10e;
}

.c-label{
  margin-bottom: 40px;
}

.c-hint{
  margin-top: 20px;
  margin-bottom: 20px;
}